<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Mail" value="pop.mail.ru" />
    <add key="Port" value="995" />
    <add key="Login" value="gus.guskovskij" />
    <add key="Password" value="11guskovskij11" />
    <add key="MailAction" value="Notify; Forward=juk_777@mail.ru" />
    <add key="IdentityMessage" value="To=gus.guskovskij@mail.ru ; From=juk_777@mail.ru ; Title=пис ; Body=вап" />
  </appSettings>
</configuration>